.nav-body {
  background: linear-gradient(180deg, #2ecc71, #1abc9c);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 9;
  box-sizing: border-box;
}
